.nav-dropdown-item{
    color: white;
    border-radius: 5px;
    display: block;
    margin: 0px 18px 5px 18px;
    padding: 13px 10px 13px 18px;
}

.nav-dropdown-item:hover{
    color: white;
    background-color: red;
}
/* .dropdown-menu:active{
    background-color: red;
} */

.view_docs .form-group label{
    font-size: x-large;
}

.logo{
    width: 200px;
}
.view_docs p, .view_docs h6{
    color: black;
}
.details p{
    line-height: 10px;
    color: black;
}
a img{
    display: none;
}

#show_form, #hide_form, #release{
    border: 0px;
}

@media (max-width: 50px){
    .view_docs .form-group label{
        font-size: medium;
    }
}

@media print{
    *, h6, #type{
        color: black;
    }
    .card-header h6{
        display: none;
    }
    p{
        line-height: 10px;
    }
    
    a img{
        border-radius: 10px;
        display: inline-block;
        position: absolute;
        top: 13px;
        right: 13px;
    }
    .view_docs p{
        display: block;
    }
    .fixed-plugin-button, nav, .fa {
        display: none;
    }
}

#spin1, #spin {
    visibility: hidden;
    /* display: none; */
}

/* *{
    outline: 1px dashed black;
} */
