.nav-dropdown-item{
    color: white;
    border-radius: 5px;
    display: block;
    margin: 0px 18px 5px 18px;
    padding: 13px 10px 13px 18px;
}

.nav-dropdown-item:hover{
    color: white;
    background-color: #545458;
}
.dropdown-menu:active{
    background-color: red;
}

.view_docs .form-group label{
    font-size: x-large;
}

@media (max-width: 500px){
    .view_docs .form-group label{
        font-size: medium;
    }
}

@media print{
    .view_docs .form-group label{
        font-size: medium;
    }
}


